<%= form_tag 'play_game' do -%>
<div style="margin-left: 600px">
<% if(@selected_user == nil) %>
<p class="incorrect">You have not selected any option</p><br/>
<% elsif "#{session[:pic_answer]}" == "#{session[:user_id]}" %>
<p class="correct">Correct</p><br/>
<% else %>
<p class="incorrect">
Incorrect
</p>
<p class="correct">The Correct answer is <%= session[:pic_name] %></p><br/><br/>
<%= image_tag("#{session[:pic_url]}",:width=>350,:height=>350) %><br/><br/><br/><br/>
<% end %>
<%= image_submit_tag("play_again.jpg", :align => "center", :id => "Play_Again") %>
<%= link_to "Exit",users_path %>

</div>
<% end -%>