<%= form_tag 'answer' do -%>
<% if @pic_user == nil %>
<center><p class="incorrect"><b>Please upload some images</b></p><br/>
<center><%= link_to image_tag('back.png'),users_path %><br/>
<%else%>
<div style="margin-left: 130px;">
<%= image_tag("#{session[:pic_url]}",:width=>350,:height=>350) %>
</div>
<br></br>

<div style="margin-left: 130px;">
<% @selected_users.each.each do |user| %>
<%= radio_button_tag "user_id","#{user.id}",false,:id => "#{user.id}" %><%= user.name %>
<% end %>
</div>
<br/><br/>
<div style="margin-left: 130px">
<%=  image_submit_tag("answer.png", :id => "Submit") %>
<%= link_to image_tag('back.png'),users_path %>
</div>
<%end%>
<% end -%>